@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 44% 93%;
    --foreground: 262 30% 25%;
    --card: 285 44% 96%;
    --card-foreground: 262 30% 25%;
    --popover: 285 44% 96%;
    --popover-foreground: 262 30% 25%;
    --primary: 262 52% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 285 20% 85%;
    --secondary-foreground: 262 52% 20%;
    --muted: 285 20% 88%;
    --muted-foreground: 262 20% 45%;
    --accent: 229 53% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 20% 80%;
    --input: 285 20% 80%;
    --ring: 262 52% 50%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 262 30% 10%;
    --foreground: 285 44% 93%;
    --card: 262 30% 13%;
    --card-foreground: 285 44% 93%;
    --popover: 262 30% 13%;
    --popover-foreground: 285 44% 93%;
    --primary: 262 52% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 262 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 262 20% 20%;
    --muted-foreground: 285 20% 65%;
    --accent: 229 53% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 20%;
    --input: 262 20% 20%;
    --ring: 262 52% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .fade-in {
    animation: fade-in 0.75s ease-in-out both;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
